
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h1>CompleteForgetPassword</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Password Reset Link Has Been Sent To Your Mail. PLZ, Check Your Inbox :
                <a href="https://mail.google.com/mail/u/0/">click here</a>
            </div>
        </div>
    </diiv>
</div>