@model SignInViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h1>Login</h1>
<br />
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" asp-action="Login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Email" asp-for="@Model.Email">
				</div>
				<br />
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" asp-for="@Model.Password">
				</div>
				<br />
			<div class="wthree-text">
			<label class="anim">
				<input type="checkbox" asp-for="@Model.RememberMe" class="checkbox"/>
				<span>RememberMe</span>
			</label>
			<input type="submit" value="SignIn"/>			
			</form>
@* 			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div> *@
			<div style="display: flex; color: white;">
				<div>
					<p>You Don't have An Account </p>
					<a asp-action="SignUp" style="font-weight: bold; color: white"> Register Now?</a>
				</div>
				<br />
				<br />
				<div>
					<a asp-action="ForgetPassword" style="font-weight: bold; color: white">Forget Password?</a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
